body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: 14px;
	color: #428bca;
}

.header {
	margin:0;
	padding:0;
	font-size: 30px;
	font-family: Verdana;
	line-height: 1.5em; 
	font-weight:bold;
	position: fixed;
	z-index:1;
	left: 170px;
	right: 0;
	top: 0;
	height: 50px;
	min-width: 800px;
	text-align: center;
	color: #fff;
	background-color:#16a085;
}

.nav{
	border: none;
}
.nav li {
	text-align: center;
	display: inline-block;
	background-color: #DADFE1;
}
.nav li a{
	color:#000;
	font-size: 19px;
	font-family:Verdana;
	text-transform: uppercase; 
}
.sidebar {
	position: fixed;
	left: 0px;
	top: 50px;
	width: 170px;
	height:100%;
	background-color: #DADFE1;
	}

.content {
	position: absolute;
	display: block;
	left:170px;
	top: 48px;
	right: 0;
	bottom: 0;
	min-width: 595px;
	padding-top: 1px
}
.hide_menu, .show_menu{
	position: fixed;
	height: 50px;
	width: 85px;
	padding-top: 10px;
	cursor:pointer;
	z-index:1;
	font-family:Verdana;
	font-size: 19px;
	text-align: center;
	text-transform: uppercase;
	background-color: #34495E;
	color:#fff;
	display: inline-block;
	
}
.hide_menu{
	top:0px;
	left: 0px;
}
.show_menu{
	top:0px;
	left: 85px;
}








