body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-size: 14px;
	color: #428bca;
}

.header {
	margin:0;
	padding:0;
	font-size: 30px;
	font-family: Verdana;
	line-height: 1.5em; 
	font-weight:bold;
	position: fixed;
	z-index:1;
	left: 0;
	right: 0;
	top: 0;
	height: 50px;
	min-width: 800px;
	text-align: center;
	color: #fff;
	background-color:#16a085;
}
.nav li {
	text-align: center;
	display: inline-block;
}
.nav li a{
	color:#000;
	font-size: 19px;
	font-family:Verdana;
	text-transform: uppercase; 
}
.sidebar {
	position: fixed;
	left: 0;
	top: 50px;
	width: 170px;
	height:100%;
	border: 1px solid #eee;
	z-index:1;
	background-color: #fff;
}

.content {
	position: absolute;
	left:170px;
	top: 48px;
	right: 0;
	bottom: 0;
	min-width: 595px;
	border: 1px solid #eee;
	border-bottom: 1px solid white;
	padding-top: 1px
}


