.tab-content{
	margin-left: 10px;
	margin-top:10px;
	width: 250px;
}
.cabinet{
	margin-left: 10px;
	margin-top:10px;
}
label{
	background-image: url('user.jpg');
	background-repeat: no-repeat;
	background-position: center;
	height:108px;
	width: 108px;
	border-radius: 100px; 
}